Source: python-werkzeug
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders:
 Thomas Goirand <zigo@debian.org>,
Standards-Version: 4.7.0
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 dh-sequence-sphinxdoc,
 flit,
 pybuild-plugin-pyproject,
 python3-all,
 python3-cryptography <!nocheck>,
 python3-doc <!nodoc>,
 python3-ephemeral-port-reserve <!nocheck>,
 python3-greenlet <!nocheck>,
 python3-markupsafe,
 python3-pallets-sphinx-themes <!nodoc>,
 python3-pytest <!nocheck>,
 python3-pytest-timeout <!nocheck>,
 python3-pytest-xprocess <!nocheck>,
 python3-sphinx <!nodoc>,
 python3-sphinxcontrib-log-cabinet <!nodoc>,
 python3-watchdog <!nocheck>,
Homepage: https://github.com/pallets/werkzeug/
Vcs-Git: https://salsa.debian.org/python-team/packages/python-werkzeug.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-werkzeug
Testsuite: autopkgtest-pkg-python
Rules-Requires-Root: no

Package: python-werkzeug-doc
Section: doc
Architecture: all
Depends:
 ${misc:Depends},
 ${sphinxdoc:Depends},
Multi-Arch: foreign
Description: Documentation for the werkzeug Python library (docs)
 Werkzeug is a lightweight library for interfacing with WSGI. It features
 request and response objects, an interactive debugging system and a powerful
 URI dispatcher. Combine with your choice of third party libraries and
 middleware to easily create a custom application framework.
 .
 This package provides the Sphinx generated documentation for Werkzeug.

Package: python3-werkzeug
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Recommends:
 python3-openssl,
 python3-pyinotify,
Suggests:
 ipython3,
 python-werkzeug-doc,
 python3-lxml,
 python3-pkg-resources,
 python3-watchdog,
Description: Collection of utilities for WSGI applications (Python 3.x)
 The Web Server Gateway Interface (WSGI) is a standard interface between web
 server software and web applications written in Python.
 .
 Werkzeug is a lightweight library for interfacing with WSGI. It features
 request and response objects, an interactive debugging system and a powerful
 URI dispatcher. Combine with your choice of third party libraries and
 middleware to easily create a custom application framework.
 .
 This package contains the Python 3.x module.
